.page-button-container {
}

.page-button {
	display: block;
	margin: 10px 0;
	padding: 10px;
	background: white;
	border: 10px solid black;
	color: black;
	text-align: center;
	&:visited {
		color: black;
	}
	&:hover {
		color: black;
	}
}
