.item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100%;
	padding: 0 15px;
	border-bottom: black solid 20px;
	background-size: cover;
	background-position: center center;
}

.block {
	@include clearfix;
	width: 60%
}

.block.references {
	background: red;
}

.block.sidebar {
	width: 60%;
}

.reference {
	@include make-sm-column(4);
	background: black;
	color: white;
}