.item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100%;
	padding: 0 15px;
	border-bottom: black solid 20px;
	background-size: cover;
	background-position: center center;
}

.item .visualisation {
	width: 90%;
	height: 50%;
	background: red;
}

.item .conclusion {
	width: 90%;
	background: yellow;
}

.item.head .conclusion {
	background: red;
}

.block {
	@include clearfix;
	width: 60%
}

.block.references {
	background: red;
}

.block.sidebar {
	background: grey;
	width: 60%;
}



.reference {
	@include make-sm-column(4);
	background: black;
	color: white;
}