.item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
	padding: 0 15px;
	border-bottom: black solid 20px;
	background-size: cover;
	background-position: center center;
}

.block {
	@include clearfix;
}

.reference {
	@include make-sm-column(4);
}